/vendor/
/node_modules/
/.idea/
/.vscode/
/.phpunit.result.cache
/.env
/.env.*
/public/storage
/public/hot
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php
/phpunit.xml
/phpunit.xml.dist
/.sass-cache
/.grunt
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
Homestead.yaml
Homestead.json
/.vagrant/
/.phpstorm.meta.php
/.vite
/.npm
/.venv
/.forestry
/.pnp.*
/telescope/storage
/public/livewire
/public/mix-manifest.json
/storage/mix-manifest.json
no_laravel/old ad data/ad_images.sql
no_laravel/old ad data/ads.sql
